@model MVC.Models.Employee

@{
    Layout = null;
}

<div class="display-label">
    @Html.DisplayName("FullName")
</div>
<div class="display-field">
    @Model.Name
</div>
<div class="display-label">
    @Html.DisplayName("Gender")
</div>
<div class="display-field">
    @Model.Gender
</div>